# Default ignored files
/.idea/shelf/
/.idea/workspace.xml

**/.idea/workspace.xml

# Project exclude paths
/venv/

# Datasource local storage ignored files
/.idea/dataSources/
dataSources.local.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml

# Editor-based HTTP Client requests
/.idea/httpRequests/
rest-client.private.env.json
http-client.private.env.json

/system
/config

# Local user commits
**/.idea/shelf

/db.sqlite3
/ex_DBS_supermarket_management_system/__pycache__/*.pyc
*.pyc
/accounts/migrations/__pycache__/*.pyc
/accounts/__pycache__/*.pyc