{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <!-- popper.min.js 用于弹窗、提示、下拉菜单 -->
    <script src="https://cdn.staticfile.org/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/page-default.css' %}">

    {% block head %}{% endblock %}

    <title></title>
</head>
<body class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-dark bg-primary px-5">
    <a class="navbar-brand" href="/">MyMarket</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" href="/">首页</a></li>

            {% if not user is None and not user.id is None %}
                {% if user.right != 'customer' %}
                    {% if user.right == 'manager' %}
                        <li class="nav-item"><a class="nav-link" href="/index-product-manage">商品管理</a></li>
                        <li class="nav-item"><a class="nav-link" href="/supply">进货管理</a></li>
                        <li class="nav-item"><a class="nav-link" href="/index-staff">员工管理</a></li>
                    {% elif user.right ==  'smanager' %}
                        <li class="nav-item"><a class="nav-link" href="/index-request">请求中心</a></li>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% block menu_item %}{% endblock %}
        </ul>

        <a id="user_id" data-id="{{ user.id }}" class="nav-link ml-md-auto d-none d-md-flex text-light" href="#">
        </a>
        {% if not user is None and user.is_authenticated %}
            <a id="user_id" data-id="{{ user.id }}" class="nav-link ml-md-auto d-none d-md-flex text-light"
               href="/profile">
                User centre(id: {{ user.id }})
            </a>
            <a class="nav-link ml-md-auto d-none d-md-flex text-light" href="/logout">
                Sign out
            </a>
        {% else %}
            <a class="nav-link ml-md-auto d-none d-md-flex text-light" href="/login">
                Sign in
            </a>
        {% endif %}
    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>