{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block content %}
    <div id="form-container" class="container mx-auto mt-5">
        <form class="" action="/login" onsubmit="" method="post">
            {% csrf_token %}
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            </div>
            <div class="form-group">
                <label for="type_select">Select your account type</label>
                <select class="form-control" id="type_select" name="type_select">
                    <option>customer</option>
                    <option>staff</option>
                    <option>branch</option>
                    <option>manager</option>
                </select>
            </div>
            <div class="form-group">
                <p class="error">{{ input_error }}</p>
                {{ form.non_field_errors }}
                <p class="errors">{{ form.id.errors }}</p>
                <label for="{{ form.id.id_for_label }}">User ID</label>
                {{ form.id }}
            </div>
            <div class="form-group">
                <p class="errors">{{ form.password.errors }}</p>
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
            <a href="/register">Sign up</a>
        </form>
    </div>
{% endblock %}