{% extends "base.html" %}
{% load static %}
{% block head %}

{% endblock %}
{% block content %}
    <div id="form-container" class="container mx-auto my-5 py-5 border rounded">
        <form class="" action="/login" onsubmit="" method="post">
            {% csrf_token %}
            <div class="text-center mb-4">
                <h1 class="h1 mb-3 font-weight-bold font-italic ">Sign in</h1>
            </div>
            <div class="form-group">
                <p class="error">{{ error }}</p>
                {% comment %}<label for="type">Select your account type</label>
                <select class="form-control" id="type" name="type">
                    <option>customer</option>
                    <option>staff</option>
                    <option>manager</option>
                </select>{% endcomment %}
            </div>
            <div class="form-group">
                {{ form.non_field_errors }}
                <p class="errors">{{ form.username.errors }}</p>
                <label for="{{ form.username.id_for_label }}">Username</label>
                {{ form.username }}
            </div>
            <div class="form-group">
                <p class="errors">{{ form.password.errors }}</p>
                <label for="{{ form.password.id_for_label }}">Password</label>
                {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
            <a href="/register">Sign up</a>
        </form>
    </div>
{% endblock %}