{% extends "base.html" %}
{% block content %}
    <div id="form-container" class="container mx-auto mt-5">
        <form class="" action="/register" onsubmit="" method="post">
            {% csrf_token %}
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Sign up</h1>
            </div>
            <div class="form-group">
                <label for="type">Select your account type</label>
                <select class="form-control" id="type" name="type">
                    <option>customer</option>
                    <option>staff</option>
                    <option>manager</option>
                </select>
            </div>
            {{ form.non_field_errors }}
            <div class="form-group">
                <p class="error">{{ error }}</p>
                <p class="errors">{{ form.a_username.errors }}</p>
                <label for="{{ form.a_username.id_for_label }}">Username</label>
                {{ form.a_username }}
            </div>
            <div class="form-group">
                <p class="errors">{{ form.a_password.errors }}</p>
                <label for="{{ form.a_password.id_for_label }}">Password</label>
                {{ form.a_password }}
            </div>
            <div class="form-group">
                <p class="errors">{{ form.re_password.errors }}</p>
                <label for="{{ form.re_password.id_for_label }}">Password confirmation</label>
                {{ form.re_password }}
            </div>
            <div class="form-group">
                <p class="errors">{{ form.tel.errors }}</p>
                <label for="{{ form.tel.id_for_label }}">Phone number</label>
                {{ form.tel }}
            </div>
            <button type="submit" class="btn btn-primary btn-block btn-lg">Submit</button>
            <a href="/login">Sign in</a>
        </form>
    </div>
{% endblock %}